.channel-form {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
    form {
        width:100%;
        max-width: 800px;
        .form-group {
            position: relative;
            width: 100%;
            input[type="text"] {
                width: 100%;
                background: #F4F2F2;
                border: 1px solid #E6E6E6;
                border-radius: 6px;
                color: #999999;
                font-weight: 400;
                font-size: 14px;
                padding: 13px 24px;
            }
            ::-webkit-input-placeholder {  
                color: #999999;
                opacity: 1;
              }
              
              :-ms-input-placeholder {  
                color: #999999;
                opacity: 1;
              }
              
              ::placeholder {
                color: #999999;
                opacity: 1;
              }
            button[type="submit"] {
                background-color: transparent;
                border: none;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                img {
                    filter: brightness(0) saturate(100%) invert(61%) sepia(31%) saturate(12%) hue-rotate(333deg) brightness(94%) contrast(87%);
                }
            }
        }
    }
}

.table, .table-pagination {
    width:100%;
    max-width: 800px;
}

.table-striped {
    tbody {
        tr {
            &:nth-of-type(odd) { 
                td {
                    background-color: #F9F9F9;
                }
            }
            &:nth-of-type(even) { 
                td {
                    background-color: #EFEFEF;
                }
            }
        }
    } 
}

/* Add this CSS in a separate stylesheet or in a CSS module in your React component */

/* Style for the external event container */
/* Place your custom CSS styles here */

body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  }
  
  #wrap {
    width: 1500px;
    margin: 0 auto;
  }
  
  #external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
  }
  
  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }
  
  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }
  
  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }
  
  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }
  
  #calendar {
    float: right;
    width: 900px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  .custom-event {
    // background-color: #3a87ad;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    button{
        position: absolute;
    top: 0;
    right: 0;
    
    &:hover{
        background-color: #1e5b83;
        color: white;
    }
}
  }
  
  .fc-event-main:hover {
    background-color: #1e5b83;
  }